table {
  background: #303030;
  border-collapse: collapse;
  width: 100%;
}

td {
  font-size: 0.9rem;
}

td,
th {
  padding: 5px 3px;
}

th:nth-of-type(2n),
td:nth-of-type(2n) {
    border-right: #222 2px solid;
    border-left: #222 2px solid;
}

th {
  background-color: #101010;
  text-align: left;
}

tr:nth-of-type(2n) {
  background: rgba(0, 0, 0, 0.2);
}